<div class="container" ng-controller="TeamsCtrl as Teams">


	<div class="row col-md-12 todos">
		<div class="alert alert-info text-center" ng-hide="Teams.auth.user">
			<h3>You are not logged in. <a href="/#/login">Login</a> to see your team.</h3>
		</div>
	</div>


	<div class="row col-md-12" ng-show="Teams.auth.user">

		<div ng-show="Teams.hasPoolTeam()">
			<h1>Team Name: {{Teams.pool_team.team_name}}</h1>

		</div>

		<div ng-hide="Teams.hasPoolTeam()">
			<input type="text" class="form-control input-lg" placeholder="Choose Your Team Name" />

			<h2>Choose Your Players:</h2>

			<div class="col-md-4">
				<div class="box" ng-repeat="box in Teams.pools.boxes">
				</div>
			</div>

			<div class="col-md-8"></div>
		</div>


	</div>

</div>